practica2/__pycache__/accion.cpython-314.pyc
practica2/__pycache__/agente.cpython-314.pyc
practica2/__pycache__/motor_inferencia.cpython-314.pyc
practica2/__pycache__/percepcion.cpython-314.pyc
practica2/__pycache__/regla.cpython-314.pyc
